:root {
    --primary: hsl(225, 100%, 94%); /* Pale Blue */
    --primary2: hsl(245, 75%, 52%); /* Bright Blue */
    --verypale:hsl(225, 100%, 98%); /* Very Pale Blue */
    --desaturated: hsl(224, 23%, 55%); /* Desaturated Blue*/
    --darkblue: hsl(223, 47%, 23%); /* Dark Blue*/
}